In [3]:
import pandas as pd

In [5]:
name = pd.Series({'A': 'apple', 'B': 'Banana', 'C': 'Coconut'}, index = [1,2,3])

In [6]:
name

1    NaN
2    NaN
3    NaN
dtype: object

In [7]:
name = pd.Series({'A': 'apple', 'B': 'Banana', 'C': 'Coconut'})
name

A      apple
B     Banana
C    Coconut
dtype: object

In [8]:
name = pd.Series(['{'A': 'apple', 'B': 'Banana', 'C': 'Coconut'},'] index = [1,2,3])

SyntaxError: invalid syntax (<ipython-input-8-da6a8ea525d1>, line 1)

In [21]:
name = pd.DataFrame({"letters": ['A', 'B', 'C'], "fruits": ['apple', 'banana','coconut']})

In [22]:
name

  letters   fruits
0       A    apple
1       B   banana
2       C  coconut