# Null Accuracy

- Baseline prediction without model
- Your goal is to build a model that is better than baseline prediciton
- It's a good way to know the minimum we should achieve with our models

In [43]:
import numpy as np
import pandas as pd

### Two Class Null Accuracy

In [44]:
churnData = pd.read_csv('ChurnData.csv')

In [48]:
churnData.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,no
1,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
2,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
3,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
4,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no

In [49]:
y = churnData.churn
y = pd.get_dummies(y, drop_first = True).yes
y.value_counts()

0    4293
1     707
Name: yes, dtype: int64

In [50]:
print(y.mean()) # calculate the percentage of ones
print(1 - y.mean()) # calculate the percentage of zeros
print(max(y.mean(), 1 - y.mean())) # calculate null accuracy (for binary classification problems coded as 0/1)

#This means that the accuracy of the classifier has to be better than the null of 0.8586

0.1414
0.8586
0.8586

## Multi-Class Null Accuracy

In [51]:
from sklearn.datasets import load_digits
import numpy as np
digits = load_digits()

In [52]:
#Frequency counts in the target data 
y = pd.Series(digits.target)
y.value_counts()

3    183
5    182
1    182
6    181
4    181
9    180
7    179
0    178
2    177
8    174
dtype: int64

In [53]:
# calculate null accuracy (for multi-class classification problems)
y.value_counts().head(1) / len(y)

3    0.101836
dtype: float64